// font family variables
$primary-font: 'Nunito', sans-serif;
$secundary-font: 'Nunito Sans', sans-serif;
$tertiary-font: 'Heebo', sans-serif;

// font size variables 
$super-small-size: 0.62rem;
$very-small-size: 0.69rem;
$small-size: 0.75rem;
$normal-size: .875rem;
$subtitle-size: 1.25rem;
$title-size: 1.5rem;


// font color variables
$primary-font-color: #000000;
$secundary-font-color: #ffffff;
$very-light-gray-font-color: #656565;
$light-gray-font-color: #4F4F4F;
$gray-font-color: #303030;


// color variables
$primary-color: #005CFF;
$primary-color-hover: #0a4cbe;
$secundary-color: #5EC0BE;
$tertiary-color: #00264E;
$white-color: #ffffff;